<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7692c9">  <td>21/05/25 16:45:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestWithDataProvider.post1(java.lang.String,java.lang.String)[pri:0, instance:demo.TestWithDataProvider@6e0dec4a]">post1</td> 
  <td>main@112797691</td>   <td></td> </tr>
<tr bgcolor="7692c9">  <td>21/05/25 16:45:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestWithDataProvider.post1(java.lang.String,java.lang.String)[pri:0, instance:demo.TestWithDataProvider@6e0dec4a]">post1</td> 
  <td>main@112797691</td>   <td></td> </tr>
<tr bgcolor="7692c9">  <td>21/05/25 16:45:29</td>   <td>15461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestWithDataProvider.post2(java.lang.String,java.lang.String)[pri:0, instance:demo.TestWithDataProvider@6e0dec4a]">post2</td> 
  <td>main@112797691</td>   <td></td> </tr>
</table>
